{% extends 'base.html.twig' %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        <article>

            <h2>{{ article.title }}</h2>

            <div class="metadata">
                {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('h:i')}} dans la catérogie [{{ article.category.title }}]
            </div>

            <div class="image">
                <img src="{{ article.image }}" alt="test">
            </div>

            <div class="content">
                {{ article.content | raw }}
            </div>

            {% if not app.user %}
                <div class="mt-3">            
                    <a href="{{ path('blog_show', {'id' : article.id}) }}" class="btn
                    btn-success btn-sm">Lire la suite</a>  
                </div> 
                    
            {% else %}
                <div class="mt-3">  
                    <a href="{{ path('blog_show', {'id' : article.id}) }}" class="btn
                    btn-success btn-sm">Lire la suite</a>

                    <a href="{{ path('blog_edit', {'id' : article.id}) }}" class="btn
                    btn-warning btn-sm">Editer</a>

                    <a href="{{ path('blog_delete', {'id' : article.id}) }}" class="btn
                    btn-danger btn-sm">Supprimer</a>              
                </div>
                    
            {% endif %}


        </article>

        <hr>
        
    {% endfor %}

</section>

{% endblock body %}
