{% extends "base.html.twig" %}

{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block body %}

<article>
    <h2>
        {{ article.title }}
    </h2>
    <div class="metadata">
        Ecrit le
        {{ article.createdAt | date('d/m/Y')}}
        à
        {{ article.createdAt | date('H:i')}}
        dans la catégorie [{{ article.category.title }}]
    </div>
    <div class="image">
        <img src="{{ article.image }}" alt="test">
    </div>
    <div class="content">
        {{ article.content | raw }}
    </div>

    <hr>

</article>

<section id="commentaires">

    {% for comment in article.comments %}
        <div class="commentaire">
            <div class="row">
                <div class="col-3">
                    {{comment.author }}
                    <br>
                    (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
                </div>
                <div class="col-9">
                    {{comment.content | raw}}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}


    <div class="container-fluid">

        {% if app.user %}

            {{ form_start(formComment) }}

            {{ form_row(formComment.author, {'attr': {'placeholder': "Titre de l'article"}}) }}
            {{ form_row(formComment.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
            {{ form_widget(formComment) }}

            <button type="submit" class="btn btn-success">
                Enregistrer les modifications
            </button>

            {{ form_end(formComment) }}

        {% else %}

            <h2>Vous devez être connecté pour laisser un commentaire</h2>
            <hr>

        {% endif %}

    </div>






</section>

{% endblock body %}